code > span.kw { color: #268BD2; font-weight: bold; }
code > span.dt { color: #268BD2; }
code > span.dv { color: #D33682; }
code > span.bn { color: #D33682; }
code > span.fl { color: #D33682; }
code > span.ch { color: #4070a0; }
code > span.st { color: #2AA198; }
code > span.co { color: #93A1A1; font-style: italic; }
code > span.ot { color: #A57800; }
code > span.al { color: #CB4B16; font-weight: bold; }
code > span.fu { color: #268BD2; }
code > span.er { color: #D30102; font-weight: bold; }
